<!doctype html>
<html>
    {{> head}}
    {{> navbar}}
    <body>
        <div class="container">
            {{! content here }}
            test
            
        </div>
    {{>footer}}
    </body>
</html>