<!doctype html>
<html>
    {{> head}}
    {{> navbar}}
    <body>
        <div class="container">
            {{! content here }}
            <div class="register">
                <form method="POST" action="/register">
                    <input type="text" name="name" placeholder="Name" />
                    <input type="text" name="handle" placeholder="Handle" />
                    <input type="text" name="email" placeholder="Email" />
                    <input type="password" name="password" placeholder="Password" />
                    <button>Register</button>
                </form>
            </div>
        </div>
    {{>footer}}
    </body>
</html>