<!doctype html>
<html>
    {{> head}}
    {{> navbar}}
    <body>
        <div class="container">
            {{! content here }}
            <div class="registration">
                <form method="POST" action="/register">
                    <input type="text" name="email" placeholder="email" />
                    <input type="text" name="name" placeholder="name" />
                    <input type="text" name="handle" placeholder="handle" />
                    <input type="password" name="password" placeholder="password" />
                    <input type="password" name="confirmPassword" placeholder="confirm password" />
                    <button>submit</button>
                </form>
            </div>
        </div>
    {{>footer}}
    </body>
</html>